html, body {
  background-color: #d0e8f9;
  margin: 0;
  padding: 0; 
}

.box {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 6px 0px rgba(143,143,143,0.10);
  height: 500px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -200px;
}

.forecast {
  background-color: #ffffff;
  background-size: cover;
  color: white;
  text-align: center;
  height: 380px;
  width: 400px;
  border-radius: 10px 10px 0px 0px;
}

.night-day {
  position:absolute;
  height: 50px;
  width: 50px;
  background-size: cover;
}

.location {
  font-family: 'Roboto';
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 10px;
}

.icon {
  height: 180px;
  width: 180px;
  position: relative;
  left: 113px;
  top:15px;
  background-size: cover;
  opacity: 0;
}

.weather-info {
  margin-top: 15px;
}

.temperature {
  font-family: 'Open Sans';
  font-size: 100px;
  text-align: right; 
  line-height: 140px;
  width: 240px;
}

.conditions {
  font-family: 'Open Sans';
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-align: left; 
}

#units {
  font-size: 50px;
  line-height: 40px;
}

#condition {
  line-height: 20px;
 vertical-align: text-top;
}

table {
  width: 100%; 
  table-layout: auto;
}

.dayly {
  font-family: 'Roboto';
  font-size: 20px;
  color: #142332;
  margin-top: 20px;
  margin-left: 70px;
  line-height: 35px;
}











